{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:import/typescript",
    "plugin:chai-friendly/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:json/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-debugger": "error",
    "no-console": [
      "error",
      {
        "allow": [
          "info",
          "warn",
          "error"
        ]
      }
    ],
    "max-len": [
      "error",
      150
    ],
    "camelcase": "off",
    "import/named": "off",
    "import/export": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-trailing-spaces": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "@typescript-eslint/prefer-interface": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "no-param-reassign": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-use-before-define": "off"
  }
}